<div class="panel panel-info">

  <div class="panel-heading"><h2>Редактировать профиль</h2></div>

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
    <%= devise_error_messages! %>

    <div class ="panel-body"><%= f.label :email %><br />
    <%= f.email_field :email, :autofocus => true %></div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class ="panel-body"><%= f.label "Пароль" %> <i>(оставить пустым, если хотите оставить таким же)</i><br />
    <%= f.password_field :password, :autocomplete => "Выключить" %></div>

    <div class ="panel-body"><%= f.label "Подтверждение пароля" %><br />
    <%= f.password_field :password_confirmation %></div>

    <div class ="panel-body"><%= f.label "Текущий пароль" %> <i>(введите текущий пароль, чтобы подтвердить изменения)</i><br />
    <%= f.password_field :current_password %></div>

    <div class ="panel-body"><%= f.submit "Обновить", class: "btn btn-primary" %></div>
  <% end %>
    <div class="panel-footer"><%= link_to "Назад", :back %></div>
</div>
<div class="panel panel-danger">
  <div class="panel-heading"><h3>Удалить мой аккаунт</h3>

  <p>Покидаете нас? <%= button_to "Удалить мой аккаунт", registration_path(resource_name), :data => { :confirm => "Вы уверены?" }, :method => :delete, :class => "btn btn-danger" %></p>

  
